In [10]:
# Dependencies
import pandas as pd

In [11]:
# Files to load and output (Remember to change these)
csv_path = "Resources/budget_data.csv"
txt_out = "analysis/budget_analysis.txt"
bank_df = pd.read_csv(csv_path)
bank_df.head()
#file_to_output = "analysis", "budget_analysis.txt")

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [12]:
# Track various financial parameters
#total_months = 0
#month_of_change = []
#net_change_list = []
#greatest_increase = ["", 0]
#greatest_decrease = ["", 9999999999999999999]
#total_net = 0
total_months = len(bank_df)
total_months

86

In [13]:
# Read the csv and convert it into a list of dictionaries
##MY CODE - This is to get the net total of Profit/losses over the whole period.
net_total = bank_df["Profit/Losses"].sum()
net_total

38382578

In [14]:
 # Read the header row
###MY CODE - The average of the changes in "Profit/Losses" over the entire period.
net_avg = bank_df["Profit/Losses"].mean()
net_avg

446309.0465116279

In [15]:
## MY CODE - Greatest profit increase and decrease over the entire period.
bank_df["Net Change"] = bank_df["Profit/Losses"].diff(periods=1)

In [16]:
##MY CODE GREATEST INCREASE
greatest_increase = bank_df["Net Change"].max()
greatest_increase

1926159.0

In [17]:
##MY CODE GREATEST DECREASE
greatest_decrease = bank_df["Net Change"].min()
greatest_decrease

-2196167.0

In [18]:
# Print the output (to terminal)
# YOUR CODE HERE
output = (
    f"Financial Analysis\n" +
    f"----------------------------\n" +
    f"Total Months: {total_months}\n" +
    f"Total: ${net_total}\n" +
    f"Average  Change: ${net_avg:,.2f}\n" +
    f"Greatest Increase in Profits: (${greatest_increase:,.2f})\n" +
    f"Greatest Decrease in Profits: (${greatest_decrease:,.2f})\n"
)

In [19]:
print(output)
# Export the results to text file
# YOUR CODE HERE
Budget = open("budget_analysis.txt", "w")
Budget.write(output)
Budget.close()

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $446,309.05
Greatest Increase in Profits: ($1,926,159.00)
Greatest Decrease in Profits: ($-2,196,167.00)