In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [3]:
# File to Load (Remember to Change These)
mouse_df = pd.read_csv("data/mouse_drug_data.csv")
trial_df = pd.read_csv("data/clinicaltrial_data.csv")

In [4]:
# Read the Mouse Drug Data and the Clinical Trial Data
mouse_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [5]:
# Read the Clinical Trial Data
trial_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [6]:
# Combine the data into a single dataset
merge_data = pd.merge(mouse_df, trial_df, on="Mouse ID")

In [7]:
# Display the data table for preview
merge_data.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [8]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

#tumor_mean = merge_data.groupby([index=index,'Drug', 'Timepoint', values='Drug']).mean()['Tumor Volume (mm3)']
#tumor_mean.head()

#tumor_mean = merge_data.groupby(["Drug", "Timepoint"]).mean()["Tumor Volume (mm3)"]
#tumor_mean.head()

#tumor_mean = merge_data.groupby([index='0', "Drug", "Timepoint"]).mean()["Tumor Volume (mm3)"]
#tumor_mean.head()

#tumor_mean = merge_data.groupby(index=index, ["Drug" + values=[:], "Timepoint"]).mean()["Tumor Volume (mm3)"]
#tumor_mean.head()

tumor_mean = merge_data.groupby(["Drug", "Timepoint"]).mean()["Tumor Volume (mm3)"]
tumor_mean = tumor_mean.reset_index()
tumor_mean.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [9]:
# Convert to DataFrame
tumor_mean_df = pd.DataFrame(tumor_mean)

tumor_mean_df.head()
# Preview DataFrame

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [10]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
standard_errors = merge_data.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].sem()
standard_errors.head()

Drug       Timepoint
Capomulin  0            0.000000
           5            0.448593
           10           0.702684
           15           0.838617
           20           0.909731
Name: Tumor Volume (mm3), dtype: float64

In [11]:
# Convert to DataFrame
df = pd.DataFrame(standard_errors)
df.head()
# Preview DataFrame

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [12]:
# Minor Data Munging to Re-Format the Data Frames
#change_df = df.pivot(index=index, columns='0', values='1')
#change_df
tm = tumor_mean.reset_index()
change_tm = tumor_mean.pivot_table(index='Timepoint', columns='Drug')['Tumor Volume (mm3)']
change_tm.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [13]:
se = standard_errors.reset_index()
change_se = pd.pivot_table(df, index=['Timepoint'], columns=['Drug'], values=['Tumor Volume (mm3)'])
change_se.head()

# Preview that Reformatting worked

          Tumor Volume (mm3)                                          \
Drug               Capomulin  Ceftamin Infubinol  Ketapril  Naftisol
Timepoint
0                   0.000000  0.000000  0.000000  0.000000  0.000000
5                   0.448593  0.164505  0.235102  0.264819  0.202385
10                  0.702684  0.236144  0.282346  0.357421  0.319415
15                  0.838617  0.332053  0.357705  0.580268  0.444378
20                  0.909731  0.359482  0.476210  0.726484  0.595260


Drug        Placebo  Propriva  Ramicane  Stelasyn Zoniferol
Timepoint
0          0.000000  0.000000  0.000000  0.000000  0.000000
5          0.218091  0.231708  0.482955  0.239862  0.188950
10         0.402064  0.376195  0.720225  0.433678  0.263949
15         0.614461  0.466109  0.770432  0.493261  0.370544
20         0.839609  0.555181  0.786199  0.621889  0.533182

In [1]:
# Generate the Plot (with Error Bars)
#N = 5
#plt.errorbar(change_tm.index, change_tm['Drug'], yerr=change_se['Drug'], color='r', marker='o', markersize=0.25, linestyle="-")
plt.errorbar(change_tm.index, change_tm.loc[:, 'Capomulin'], yerr=change_se.loc[:, 'Capomulin'], color='r', marker='o', markersize=0.25, linestyle="-")
plt.show()
#plt.errorbar(tumor_mean.index), tumor_mean['Infubinol']


#tumor_volume_per_y = [values='Drug']
#day_x = np.arange(len('Timepoint'))

NameError: name 'plt' is not defined

In [ ]:
bar = plt.bar(day_x, tumor_volune_per, color='b', alpha=0.5, align='center')
plt.show()

# Save the Figure

In [ ]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

![Metastatic Spread During Treatment](../Images/change.png)