### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [6]:
total_students = len(school_data_complete["student_name"].unique())
total_students

32715

In [7]:
total_budget = (school_data_complete["budget"]).sum()
budget_per = (total_budget)/(total_students)
budget_per

2534994.0259208316

In [8]:
math_ave= (school_data_complete["math_score"]).mean()
round(math_ave)

79

In [13]:
read_ave= (school_data_complete["reading_score"]).mean()
round(read_ave)

82

In [30]:
overall_ave= ((math_ave)+(read_ave))/2
round(overall_ave)

80

In [45]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math = (school_data_complete["math_score"] >=70).astype('bool')
pass_math

#replace = pass_math.replace({0.0:"No", 1.0:"Yes"})

0         True
1        False
2        False
3        False
4         True
5         True
6         True
7        False
8         True
9         True
10        True
11        True
12        True
13        True
14       False
15        True
16       False
17        True
18       False
19        True
20        True
21        True
22        True
23       False
24        True
25        True
26        True
27       False
28       False
29        True
         ...
39140     True
39141     True
39142     True
39143     True
39144     True
39145     True
39146     True
39147     True
39148     True
39149     True
39150     True
39151     True
39152     True
39153     True
39154     True
39155     True
39156     True
39157     True
39158     True
39159     True
39160     True
39161     True
39162     True
39163     True
39164     True
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [32]:
pass_math_count = (pass_math).value_counts()
pass_math_count

True     29370
False     9800
Name: math_score, dtype: int64

In [36]:
percentage = (school_data_complete.iloc["math_score"] >=70)
percentage

TypeError: Cannot index by location index with a non-integer key

In [25]:
#Calculate the percentage of students with a passing reading score (70 or greater)

In [26]:
#Create a dataframe to hold the above results

In [27]:
#Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
school_data_complete["school_name", "type", total_students, total_budget, budget_per,  ="
final_school_summary_df =

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
top_schools_df = final_school_summary_df.sort_values(by='% Overall Passing Rate', ascending=False)
top_schools_df

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [37]:
bottom_schools_df = final_school_summary_df.sort_values("% Overall Passing Rate")
bottom_schools_df

NameError: name 'final_school_summary_df' is not defined

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
math_grade = school_data_complete.groupby("")

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.