In [1]:
import pandas as pd

In [2]:
poll_df = "Resources/election_data.csv"

In [3]:
poll_df = pd.read_csv(poll_df)
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
##CREATE A SCRIPT ANALYZING THE VOTES AND CALCULATES EACH OF THE FOLLOWING.
##MY CODE - Total votes cast, list of candidates with votes, 
##total votes per candidate, winner of election based on popular vote.

total_votes = len(poll_df)
total_votes

3521001

In [5]:
unique_candidates = poll_df["Candidate"].unique()
unique_candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
##TOTAL VOTES PER CANDIDATE?
cand_votes = [{"Khan":[2]}, {"Corey":[2]}, {"Li":[2]}, {"O'Tooley":[2]}]

In [10]:
poll_group = poll_df.groupby("Candidate")

In [22]:
tally = poll_group["Voter ID"].count()

In [23]:
poll_group_df = pd.DataFrame(tally)

In [20]:
poll_group_df.max()

Voter ID    2218231
dtype: int64

In [122]:

total_votes = poll_group_df.sum()

In [123]:
total_votes = total_votes[0]

In [124]:
total_votes

3521001.0

In [125]:
poll_group_df["Pct"] = poll_group_df["Voter ID"].astype(float)/total_votes

In [126]:
poll_group_df

           Voter ID   Pct
Candidate
Correy       704200  0.20
Khan        2218231  0.63
Li           492940  0.14
O'Tooley     105630  0.03

In [128]:
##WINNER OF ELECTION - POPULAR VOTE
pop_winner = poll_group_df["Voter ID"].max() 
pop_winner
#count_khan = poll_df["Candidate"].count["Khan"]
#count_corey = poll_df["Candidate"].count["Corey"]
#count_li = poll_df["Candidate"].count["Li"]
#count_otooley = poll_df["Candidate"].count["O'Tooley"]

2218231

In [ ]:
#per_khan = 
#per_corey = 
#per_li = 
#per_otooley = 

output = (
        f"Election Results\n"
        f"------------------\n"
        f"Khan: {per_khan}\n"
        f"Correy: {per_corey}\n"
        f"Li: {per_li}\n
        f"OTooley: {per_otooley}\n"
        )