### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = len(school_data_complete["school_name"].unique())
total_students = len(school_data_complete["Student ID"])
total_budget = f'${round(sum(school_data_complete["budget"].unique()),2)}'
avg_math_score = round(sum(school_data_complete["math_score"]) / len(school_data_complete["math_score"]),6)
avg_read_score = round(sum(school_data_complete["reading_score"]) / len(school_data_complete["reading_score"]),6)
math_pass_rate = round((len(school_data_complete.loc[school_data_complete["math_score"] >= 70]) / total_students)*100,6)
read_pass_rate = round((len(school_data_complete.loc[school_data_complete["reading_score"] >= 70]) / total_students)*100,6)
ovrll_pass_rate = (math_pass_rate + read_pass_rate) / 2

summary_table = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students],
                             "Total Budget": [total_budget], "Average Math Score": [avg_math_score],
                             "Average Reading Score:": [avg_read_score],"% Passing Math": [math_pass_rate],
                             "% Passing Reading": [read_pass_rate], "% Overall Passing Rate": [ovrll_pass_rate]})
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score:,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,$24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
school_summary = school_data_complete["school_name"].value_counts()
school_summary_df = school_data.set_index("school_name")
#school_summary_df = pd.DataFrame(school_summary)
final_school_summary_df = school_summary_df.rename(
    columns={"school_name": "School Name","type": "District/Charter","size":"Number of Students","budget":"Total Budget"})
final_school_summary_df

,School ID,District/Charter,Number of Students,Total Budget
school_name,,,,
Huang High School,0,District,2917,1910635
Figueroa High School,1,District,2949,1884411
Shelton High School,2,Charter,1761,1056600
Hernandez High School,3,District,4635,3022020
Griffin High School,4,Charter,1468,917500
Wilson High School,5,Charter,2283,1319574
Cabrera High School,6,Charter,1858,1081356
Bailey High School,7,District,4976,3124928
Holden High School,8,Charter,427,248087
Pena High School,9,Charter,962,585858
Wright High School,10,Charter,1800,1049400
Rodriguez High School,11,District,3999,2547363
Johnson High School,12,District,4761,3094650
Ford High School,13,District,2739,1763916
Thomas High School,14,Charter,1635,1043130

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [4]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [5]:
#school_data["Spending"] = pd.cut(school_data["budget"], spending_bins, labels=group_names, right=False)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [6]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
table = pd.pivot_table(school_data_complete, values=['Student ID','reading_score', 'budget', 'math_score','Reading Pass'], index=['type', 'school_name'],
               aggfunc={'Student ID': np.count_nonzero,
                        'reading_score':np.mean,
                        'Reading Pass':np.count_nonzero,
                        'math_score':np.mean,
                        'budget': [np.mean]})