# Good Reads Summary

#### The objective of this assignment is for you to explain what is happening in each cell in clear, understandable language. 

#### _There is no need to code._ The code is there for you, and it already runs. Your task is only to explain what each line in each cell does.

#### The placeholder cells should describe what happens in the cell below it.

**Example**: The cell below imports `pandas` as a dependency because `pandas` functions will be used throughout the program, such as the Pandas `DataFrame` as well as the `read_csv` function.

In [1]:
import pandas as pd

1. We named our variable "goodreads_path" and routed that variable to the source of the data, which resides inside the Resources folder and in a file named "books_clean.csv". 

2. We start to read our data frame or csv file using the pandas library and we explicitly state what we are reading by using the variable we defined in #1, which is "goodreads_path".

3. We express that we want to visualize the preview of the first five indexes aligned to the variable we defined in #1.

In [2]:
goodreads_path = "Resources/books_clean.csv"

goodreads_df = pd.read_csv(goodreads_path, encoding="utf-8")
goodreads_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

_[Replace this with your clear explanation of what happens in the cell below. Be sure to explain what is happening with the `iloc` function as well as what is happening with the `axis` setting.]_

1. We start by defining a variable "author_count" and ask pandas to look through the "Authors" column and identify the unique values in that column.

2. We define earliest_year and using the dataframe we defined as goodreads_df, we are looking to get a list of unique values in the column titled "Authors".

3. We define latest_year as a variable in which the max value associated with the "Publication Year" column is identified. 

4. The "Total Reviews" column associated with the goodreads_df data frame equals the sum of all rows within index 4. The axis=1 is referencing the columns.

5. A variable titled "total_reviews" is created and characterized as the sum of the "Total Reviews" column within the goodreads_df data frame.

In [3]:
author_count = len(goodreads_df["Authors"].unique())

earliest_year = goodreads_df["Publication Year"].min()
latest_year = goodreads_df["Publication Year"].max()

goodreads_df['Total Reviews'] = goodreads_df.iloc[:, 4:].sum(axis=1)
total_reviews = sum(goodreads_df['Total Reviews'])

_[Replace this with your clear explanation of what happens in the cell below. Indicate whether this is being created as a **list of dictionaries**, a **dictionary of lists**, or **something else**. Lastly, explain why `author_count` needs to be enclosed in square brackets.]_

1. The code below represents a data frame named summary_table where the data frame itself is a list of dictionaries where the values in "quotation marks" are the keys and the values after each of the colons represents previously defined variables above.

2. The reason why author_count needs to be in brackets is because we are including only the unique values in attribution to the column titled "Authors".

In [4]:
summary_table = pd.DataFrame({"Total Unique Authors": [author_count],
                              "Earliest Year": earliest_year,
                              "Latest Year": latest_year,
                              "Total Reviews": total_reviews})
summary_table

   Total Unique Authors  Earliest Year  Latest Year  Total Reviews
0                  4664        -1750.0       2017.0      596873216